/********************
 * Common classes
 *******************/

.angular-time-picker-float--right {
	float: right;
}

.angular-time-picker-push--top {
	margin-top: 10px;
}

.angular-time-picker-push-half--left {
	margin-left: 5px;
}

/*******************/


.angular-time-picker-theme {
	padding: 10px;
	width: 300px;
}

.angular-time-picker-dark {
	background: #777;
	color: #fff;
}

.angular-time-picker-light {
	background: #fff;
	color: #777;
}

.angular-time-picker-dropdown__menu {
	position: absolute;
	z-index: 10000000;
}

.angular-time-picker-caret {
	margin-left: 5px;
}

.angular-time-picker-button {
	line-height: 30px;
	padding: 5px 20px 5px 5px;
	position: relative;
	cursor: pointer;
}
